@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600i,700|PT+Sans:400,700|Raleway:300,400,700');

body {
  max-width: 1000px;
  padding: 1em;
  background-color: #F4F2F1;
}


div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

.navul {
  position: fixed;
  background-color: #61574B;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  font-family: 'PT+Sans:400', sans-serif;
}

nav {
  width: 100%;
  margin: 0 auto;
}
nav a {
  display: block;
  text-align: center;
}

.navli a {
  color: #F4F2F1;
  display: inline-block;
  text-align: center;
}

.navli a:after {
  position: relative;
  top: -50px;
  content: "";
  display: inline-block;
  width: 0px;
  background: #F4F2F1;
  height: 3px;
  opacity: 0;
  transition: opacity, width;
  transition-duration: .3s;
}

.navul a:hover:after {
  opacity: 1;
  width: 100%;
}

ul {
  display: inline;
}

.link {
  color: #61574B;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #F4F2F1;
}

a:active {
  border-bottom: 2px solid #F4F2F1;
}

.buckeyehouse {
  max-width: 100%;
}

.logo {
  max-width: 100px;
  height: 50px;
  vertical-align: middle;
  padding: .5em;
  float: left;
  background-color: #F4F2F1;
}

.room-image {
  max-width: 100px;
}

.join-us {
  font-family: 'PT+Sans:400', sans-serif;
}

h1 {
  font-family: 'PT+Sans:400', sans-serif;
  color: #2C4C3B;
}

h2 {
  font-family: 'PT+Sans:400', sans-serif;
  color: #2C4C3B;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

p {
  font-family: 'Raleway';
}

.roominfo {
  font-family: 'Raleway';
}

.room-title {
  font-family: 'PT+Sans:400', sans-serif;
  font-weight: bold;
}

.special-offers {
  font-family: 'PT+Sans:400', sans-serif;
  color: #2C4C3B;
  font-weight: bold;
  font-size: 22px;
}

.roomname {
  font-family: 'Open Sans', sans-serif;
}

/* Start of hamburger navigation CSS */
a.menu-link {
        float: right;
            display: block;
            padding: 1em;
              width: 125px;
        }

/* Adds Code for Pure CSS Hamburger Button */

.menu-link__hamburger {
    margin: 0 auto;
    text-align: center;
    width: 33px;
    float: left;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-link__label {
    float: left;
    padding-left: .75em;
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }
/* End of hamburger navigation CSS */

/* FOOTER */

footer {
  background-color: #90816F;
  height: 150px;
  border-top: 5px solid #2C4C3B;
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #F4F2F1;
  text-align: center;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
    text-align: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #90816F;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #90816F;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #90816F;
}
.fa-instagram:hover {
    background-color: #125688;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #90816F;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

/* BOOK NOW BUTTON */

.booknow {

  position: fixed;
  bottom: 20px;
  right: 30px;
  text-shadow: 1px 1px 1px #666666;
  font-family: 'Gill Sans', sans-serif;
  color: #61574B;
  font-size: 20px;
  background-color: #F4F2F1;
  padding: 10px 20px 10px 20px;
  border: solid #61574B 5px;
  text-decoration: none;

}

.booknow:focus {

  outline: none;

}

.booknow:hover {

  text-decoration: none;
  color: #F4F2F1;
  background-color: #90816F;
  border: solid #2C4C3B 5px;
  transition: all 0.3s ease 0s;

}

@media screen and (max-width: 500px) {

  .booknow {

    bottom: 10px;
    right: 20px;
    text-shadow: .5 .5 .5 #666666;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border: solid #61574B 3px;

  }

  .booknow:hover {

    border: solid #2C4C3B 3px;

  }

}

@media screen and (min-width: 500px) and (max-width: 800px) {

  .booknow {

    bottom: 15px;
    right: 25px;
    text-shadow: .75 .75 .75 #666666;
    font-size: 18px;
    padding: 7.5px 15px 7.5px 15px;
    border: solid #61574B 4px;

  }

  .booknow:hover {

    border: solid #2C4C3B 4px;

  }

}

/* OUR ROOMS BOOK NOW */

.room-booknow {
  background-color: #61574B;
  font-family: 'Gill Sans', sans-serif;
  color: #F4F2F1;
  padding: .6em 1.5em;
}

.room-booknow:hover {
  background-color: #2C4C3B;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
